@model IEnumerable<SAT.DATA.EF.Student>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2 class="newview">@ViewBag.Title</h2>
    @if (User.IsInRole("Admin"))
    {
    <p>
        @Html.ActionLink("Create New", "Create", "Students", null, new { @class = "btn btn-primary" })
    </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentStatus.SSName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <img src="~/Content/images/StudentImages/@item.PhotoUrl" alt="@item.PhotoUrl" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentStatus.SSName)
            </td>
            @if (User.IsInRole("Admin") || User.IsInRole("Scheduler"))
            {
                <td>
                @Html.ActionLink("Details", "Details", new { id = item.StudentId }, new { @class = "btn btn-info" })
                </td>
            }
            @if (User.IsInRole("Admin"))
            {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentId }, new { @class = "btn btn-danger" })
            </td>
            }
        </tr>
        }

    </table>
</div>