@model IEnumerable<SAT.DATA.EF.StudentStatus>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2 class="newview">@ViewBag.Title</h2>
    @if (User.IsInRole("Admin"))
    {
    <p>
        @Html.ActionLink("Create New", "Create", "StudentStatus", null, new { @class = "btn btn-primary" })
    </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SSName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SSName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSDescription)
                </td>               
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SSID }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Details", "Details", new { id = item.SSID }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.SSID }, new { @class = "btn btn-danger" })
                    </td>
                }

            </tr>
        }

    </table>
</div>