@model IEnumerable<SAT.DATA.EF.StudentStatus>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2 style="newview">Index</h2>

    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <div class="container">
        <table class="table data-table table-striped">
        @*<table id="example" class="stripe" style="width: 100%">*@
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SSName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SSDescription)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SSName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SSDescription)
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.SSID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.SSID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.SSID })
                            </td>
                        }
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@*@section scripts {
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}*@






@section scripts {
        <script>
            //Apply datatables plugin
            $(document).ready(function () {
                $(".data-table").DataTable();
            });
        </script>
    }
