@model IEnumerable<SAT.DATA.EF.StudentStatus>
@{
    ViewBag.Title = "StudentGrid";
}

<div class="container">
    <h2 class="newview">@ViewBag.Title</h2>


    <div class="container">
        @if (User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("Create New", "Create", "StudentStatus", null, new { @class = "btn btn-primary" })
            </p>
        }
    </div>

    @foreach (var item in Model)
    {
        @* Bootstrap column widths 12/4= 3 columns on lg & md screens *@
        <div class="col-md-3" style="height:50%; max-height:200px;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SSID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SSName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SSDescription)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SSID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSDescription)

                </td>
            </tr>
            }
        </div>

    }
</div>